/*.order-message {
    background-color: #eeeeee;
    text-align: center;
    padding: 70px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: initial;
}*/
.order-message.order-success .message:before {
    content: '';
    color: #08a908;
    display: block;
    font-size: 80px;
    margin-bottom: -30px;
    background: url(../images/check-mark-verified.png);
    background-size: contain;
    width: 110px;
    height: 110px;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
}
.order-message.order-failed .message:before {
    content: '\f153';
    font-family: dashicons;
    color: #d50505;
    display: block;
    font-size: 86px;
    font-size: 80px;
    margin-bottom: -30px;
}

.order-message .message, .order-message .order_id{
    color: #000;
}
.order-message .order_id{
    font-size: 24px;
    color: #008300;
}
.order-message .message{
    font-size: 48px;
    font-weight: 600;
}
.order-failed .message {
    color: #d50505;
}
.order-details{
    max-width: 750px;
    margin: auto;
    border: solid 2px #f0f0f0;
    width: 60%;
    margin-top: 50px;
}
.order-message.order-success{
    background: #fff !important;
    border: solid 2px #f0f0f0;
    width: 100%;
    margin: auto;
    max-width: 750px;
    border-bottom: solid 1px #f3f3f3;
    background: inherit;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    padding: 70px 0;
}
.transaction, .price, .item-name-details, .price-currency, .shipping-rate, .tax-rate, .total-amount-details{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #f3f3f3;
}
.transaction-label, .item-name-label, .item-price-label, .shipping-rate-label, .tax-rate-label, .total-amount-label{
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    color: #555555;
    background: #f0f0f0;
    padding: 11px 20px;
    width: 170px;
    margin-bottom: 0px;
}
.transaction-id, .item-name, .item-price, .shipping, .tax-amount, .total-amount{
    margin: 0 0 1.41575em;
    display: inline-block;
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 0px;
    padding: 11px 20px
}
@media screen and (max-width:767px){
    .order-details{
        width: 80%;
    }
}
@media (max-width:699px){
    .order-message.order-failed .message:before,
    .order-message.order-success .message:before {
        margin-bottom: 17px;
    }
    .order-message .message {
        font-size: 32px;
        font-weight: 600;
        line-height: 33px;
    }
    .order-message .order_id {
        font-size: 20px;
    }
}
@media screen and (max-width:599px){
    /*.order-details{
        width: 40%;
    }*/
    .transaction-label, .price, .item-name-label, .item-price-label, .shipping-rate-label, .tax-rate-label, .total-amount-label{
        width: 100%;
    }
    .transaction, .total-amount-details, .price, .item-name-details, .price-currency, .shipping-rate, .tax-rate{
        flex-direction: column;
    }

}
@media screen and (max-width:399px){
    .order-details{
        width: 90%;
    }
}