.custom_text {width:350px;}
.accordionContainer label {margin-right:10px;}
div#specialInstructionsContainer label { margin-right: 0px !important;}
input[type=checkbox], input[type=radio] {border: 1px solid #bbb !important;}
div#specialInstructionsContainer div {padding-bottom: 6px; font-weight: bold;}
div#shippingAddressContainer div { margin-top: 6px;  font-weight: bold;  margin-bottom: 6px;}
#messageBoxContainer #messageBox { margin-top: 10px;  margin-bottom: 10px;}
div#shippingAddressContainer div {  margin-top: 6px;  font-weight: bold;  margin-bottom: 6px;}
div#cancellationRedirectURLContainer {margin-top: 10px;}
label.bottomSpacer {margin-bottom: 10px; margin-left: 5px !important;}
input#noSpecialInstructions {margin-left: -5px !important;}
div#changeOrderQuantitiesContainer div {font-weight: bold;margin-bottom: 6px;}
div#specialInstructionsContainer {margin-top: 6px;}
#stepOne input.xlarge {width: 170px; margin-right: 30px;}
.h3padding {padding: 8px 12px;}
.txtarea_response{width: 100% !important; height:auto;color:gray !important}
.td_shortcode {font-size:18px;font-weight:bold;padding:5px;}
.td_title {font-size:14px;font-weight:bold;padding:5px;}
.center-text{text-align: center; font-size: 20px;font-weight: bold;padding-bottom: 10px;padding-top: 10px;}
.large-text-own {width:100% !important;}
.tbl_shortcode {width:100%;}
i.mce-ico.mce-i-paypal_icon {
    background: url('/wp-content/plugins/paypal-wp-button-manager/admin//images/paypal-wp-button-manager-icon.png');
}
i.mce-ico.mce-i-.icon-paypal{float:left !important;}
i.mce-ico.mce-i-.icon-paypal + span{width:100%;margin-right:20px;content:'Shortcodes'}
.msg_div {width:100%;display:inline-block;padding:0px !important;}
.msg_text {float:left;display:inline-block;padding-top:7px !important;width:100%;}
.btn_para {float:left;display:inline-block;}
img#gifimg { display: inline-block; margin-left: 10px; margin-top: 15px; display: none;}

.wpss-file-own {
    text-align: center !important;
}
.wpss_text_own {float: left; width: 65%; margin-bottom: 10px !important;}
.button-hero-own{ padding-left: 10px !important;  padding-right: 10px !important;   margin-bottom: 10px !important;  font-size: 13px !important;}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox{  background-color: transparent !important;  border: 0 !important;  box-shadow: none !important;}
.mce-widget.mce-btn.mce-menubtn.mce-listbox.mce-last span {font-size:14px !important;}
.mce-widget.mce-btn.mce-menubtn.mce-listbox.mce-last{border:1px solid transparent !important;}
.mce-widget.mce-btn.mce-menubtn.mce-listbox.mce-last:hover{  background-color:#fafafa !important;  border:1px solid #999 !important;  color: #222;  -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;  box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;  outline: 0;}
.text-center-align {text-align:center;}
.ui-tooltip, .arrow:after {
    background: #ffffe5;
    border: 1px solid #000;

}
.ui-tooltip {
    padding: 10px 20px;
    color:#000;
    border-radius: 20px;
    font-family: inherit;
    font-size:13px;

    width: 320px;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
.cls_tooltip {cursor:pointer;text-decoration:underline;color:#0074a2;}
.msg_div p { padding: 0px !important; padding-left: 10px !important;}
#companies-table {width:58%; float:right;margin-right:1%;}
form#button_manager_integration_form {
  float: left;
  width: 40%;
}
ul.ul_paypal_mode, ul.ul_account_mode {
  margin-top: 0px !important;
}
h2.floatleft {
  float: left;
}
select#ddl_paypal_mode {
  margin-left: 20px;
}
.div_paypal_mode {
  margin-bottom: 10px;
}
.cls_wrap {display:none;}

div#go_to_settings {
  margin-top: 15px;
}

a.cls_addcompany {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
a.cls_addcompany.button-primary {
  float: left !important;
  margin-top: 13px !important;
  margin-left: 20px !important;
}





.div_log_settings {
  width: 80%;
  float: left;
}
.div_log_settings .form-table{width:100%;}

.div_log_settings .form-table th {width:100px !important;}
.div_buymebeer {
  width: 210px;
  display: inline-block;
  float: left;
}
img#img_beer {
  max-width: 100%;
}
.div_cancel_donate {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.div_buymebeer_meta {float:none !important;width:auto !important;}
.angelleye-badge {
  top: 0;
  right: 0;
  position: absolute;
}

img#angelleye_logo {
  float: right;
}
#paypal-wp-button-manage-tab-wrapper{margin-top:20px;}
#___plus_0,.g-plus{float: left !important; margin-right: 10px !important;}
#paypal-wp-button-manage-settings,#paypal-wp-button-manage-document ,#paypal-wp-button-manage-twitter{ float: left; margin-right: 10px;}
.fb_iframe_widget span{width: 99px; height: 28px; float:left;}
.woocommerce-actions #paypal-wp-button-manage-settings,.woocommerce-actions #paypal-wp-button-manage-document{ background: #63ab40; border-color: #63ab40;}
.woocommerce-actions-own {float:left; width:100%;margin-bottom:20px;}